.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(206, 204, 71, 0.5),
      rgba(206, 204, 71, 0.5)
    ),
    url(image/b7.jpg);
    background-size: cover;
  mask-mode: alpha;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.menu {
  flex: 1;
  text-align: right;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}
.menu ul li a {
  text-decoration: none;
  color: honeydew;
  font-size: 20px;
  font-family: "Sofia", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.menu a:hover {
  color: black;
  font-weight: bolder;
}
.center {
  margin-top: 10%;
  color: cornsilk;
  text-align: center;
  font-size: 40px;
  animation-name: centerword;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes centerword {
  from {
    color: violet;
  }
  to {
    color: blanchedalmond;
  }
}

#converstion {
  margin: 30px;
  margin-left: 35%;
}

#countries {
  padding: 18px;
  margin: 10px;
  border-color: aqua;
  border-style: groove;
}
.s-text {
  font-size: 40px;
  font-weight: bold;
}
button {
  margin-left: 9%;
  margin-top:  5%;
  padding: 12px 25px;
  transition: 0.5s;
  width: 200px;
  height: 80px;
  background: none;
  font-size: 25px;
  color: lightblue;
  border: 3px solid lightblue;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

button:hover {
  transition: 0.5s;
  background: lightblue;
  color: black;
  box-shadow: 0px 0px 40px lightblue;
}
